@import './base/fonts.css';
@import './base/title.css';
@import './base/description.css';
@import './blocks/header.css';
@import './blocks/promo.css';

:root {
    --main-color: #18216D;
    --promo-btn-color: #00ECD0;
    --white-color: #ffffff;
}

* {
    font-family: 'Inter';
    color: var(--main-color);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}