@import './base/fonts.css';
@import './base/title.css';
@import './base/subtitle.css';
@import './base/name.css';
@import './base/description.css';
@import './blocks/header.css';
@import './blocks/promo.css';
@import './blocks/features.css';
@import './blocks/integrate.css';
@import './blocks/powering.css';
@import './blocks/flexible.css';
@import './blocks/testimonial.css';

:root {
    --main-color: #18216D;
    --promo-btn-color: #00ECD0;
    --white-color: #ffffff;
    --light-ocean-color: #e6effd;
    --light-blue-color: #005FEC;
    --flexible-border: #d3d4d4;
    --dark-grey: #232629;
}

* {
    font-family: 'Inter';
    color: var(--main-color);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}