@media (max-width: 1400px) {
    /* All width */

    .header__container,
    .promo__container,
    .integrate__container,
    .powering__container
    {
        width: 1140px;
    }

    /* Header */

    .header__menu {
        padding-left: 80px;
    }

    /* Integrate */

    .integrate__info {
        width: 100%;
    }

    .integrate__wrapper-img {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    /* All width */

    .header__container,
    .promo__container,
    .features__container,
    .integrate__container,
    .powering__container
    {
        width: 960px;
    }

    /* Header */

    .header__menu {
        padding-left: 50px;
    }

    /* Promo */

    .promo {
        padding-top: 80px;
    }

    .promo__main-info {
        width: 450px;
    }

    .promo__wrapper-img {
        width: 640px;
        height: 420px;
        top: -30px;
    }

    .promo__app {
        width: 960px;
        margin-top: 180px;
    }

    /* Integrate */

    .integrate__container {
        gap: 20px;
    }

    /* Powering */

    .powering__images {
        width: 500px;
    }

    .powering__img-call {
        left: 50px;
    }

    .powering__info {
        width: 450px;
    }
}

@media (max-width: 992px) {
    /* All width */

    .header__container,
    .promo__container,
    .features__container,
    .integrate__container,
    .powering__container
    {
        width: 720px;
    }

    /* Header */

    .header__menu {
        padding-left: 0;
        display: none;
    }

    .header__buttons {
        display: none;
    }

    /* Hamburger */

    .hamburger {
        display: flex;
    }

    /* Promo */

    .promo__container {
        text-align: center;
    }

    .promo__main-info {
        width: 100%;
    }

    .promo__wrapper-img {
        display: none;
    }

    .promo__wrapper-img-mini {
        display: block;
        margin-top: 70px;
        width: 100%;
    }

    .promo__img-mini {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .promo__app {
        width: 720px;
        margin-top: 59px;
        flex-direction: column;
    }

    .promo__subtitle {
        width: 100%;
    }

    .promo__app-info {
        width: 350px;
        margin-top: 20px;
    }

    .promo__brands {
        grid-template: repeat(2, 35px) / repeat(3, auto);
        row-gap: 25px;
    }

    /* Integrate */

    .integrate__container {
        flex-direction: column;
        gap: 60px;
        text-align: center;
    }

    /* Powering */

    .powering__container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 70px;
    }

    .powering__images {
        width: 572px;
    }

    .powering__img-call {
        left: 71px;
    }

    .powering__info {
        width: 100%;
    }

    .powering__check-list {
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        text-align-last: left;
    }
}

@media (max-width: 768px) {
    /* All width */

    .header__container,
    .promo__container,
    .features__container,
    .integrate__container,
    .powering__container
    {
        width: 540px;
    }

    /* Promo */

    .promo__app {
        width: 100%;
    }

    .promo__subtitle {
        width: 100%;
    }

    /* Features */

    .features {
        padding: 80px 0;
    }

    .features__items {
        gap: 60px;
    }

    .features__description {
        width: 100%;
    }

    /* Integrate */

    .integrate__container {
        width: 540px;
        gap: 60px;
    }

    /* Powering */

    .powering {
        padding-top: 80px;
    }

    .powering__container {
        width: 540px;
    }

    .powering__images {
        width: 100%;
    }

    /* Flexible */

    .flexible {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (max-width: 576px) {
    /* All width */

    .header__container,
    .promo__container,
    .features__container,
    .integrate__container,
    .powering__container,
    .flexible__container
    {
        width: 100%;
        padding: 0 15px;
    }

    /* Title */

    .title {
        font-size: 28px;
        line-height: 30px;
    }

    /* Subtitle */

    .subtitle {
        font-size: 20px;
        line-height: 30px;
    }

    /* Promo */

    .promo__app-info {
        max-width: 100%;
    }

    .promo__brands {
        grid-template: repeat(3, 35px) / repeat(2, auto);
        row-gap: 25px;
    }

    .promo__current {
        font-size: 45px;
    }

    /* Powering */

    .powering__check-list {
        width: 270px;
        font-size: 16px;
        padding-left: 26px;
    }

    .powering__check::before {
        left: -26px;
    }

    .powering__img-contacts {
        display: none;
    }

    .powering__img-dotted {
        display: none;
    }

    .powering__images {
        height: auto;
    }

    .powering__img-call {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: static;
    }

    /* Flexible */

    .flexible__plans {
        margin-top: 50px;
        grid-template: auto / repeat(auto-fill, 290px);
        gap: 30px;
    }

    .flexible__plan {
        padding-left: 30px;
        padding-bottom: 60px;
    }

    .flexible__line {
        width: 290px;
        top: 110px;
    }

    .flexible__items {
        margin-top: 60px;
    }
}

@media (max-width: 330px) {
    /* Promo */
    
    .promo__brands {
        grid-template: repeat(6, 35px) / auto;
        row-gap: 25px;
    }
}