@media (max-width: 1400px) {
    .header__container {
        width: 1140px;
    }

    .header__menu {
        padding-left: 80px;
    }

    .promo__container {
        width: 1140px;
    }

    .integrate__container {
        width: 1140px;
    }

    .integrate__info {
        width: 100%;
    }

    .integrate__wrapper-img {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .header__container {
        width: 960px;
    }

    .header__menu {
        padding-left: 50px;
    }

    .promo {
        padding-top: 80px;
    }

    .promo__container {
        width: 960px;
    }

    .promo__main-info {
        width: 450px;
    }

    .promo__wrapper-img {
        width: 640px;
        height: 420px;
        top: -30px;
    }

    .promo__app {
        width: 960px;
        margin-top: 180px;
    }

    .features__container {
        width: 960px;
    }

    .integrate__container {
        width: 960px;
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .header__container {
        width: 720px;
    }

    .header__menu {
        padding-left: 0;
        display: none;
    }

    .header__buttons {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .promo__container {
        width: 720px;
        text-align: center;
    }

    .promo__main-info {
        width: 100%;
    }

    .promo__wrapper-img {
        display: none;
    }

    .promo__wrapper-img-mini {
        display: block;
        margin-top: 70px;
        width: 100%;
    }

    .promo__img-mini {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .promo__app {
        width: 720px;
        margin-top: 59px;
        flex-direction: column;
    }

    .promo__subtitle {
        width: 100%;
    }

    .promo__app-info {
        width: 350px;
        margin-top: 20px;
    }

    .promo__brands {
        grid-template: repeat(2, 35px) / repeat(3, auto);
        row-gap: 25px;
    }

    .features__container {
        width: 720px;
    }

    .integrate__container {
        width: 720px;
        flex-direction: column;
        gap: 60px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .header__container {
        width: 540px;
    }

    .promo__container {
        width: 540px;
    }

    .promo__app {
        width: 540px;
    }

    .promo__subtitle {
        width: 100%;
    }

    .features {
        padding: 80px 0;
    }

    .features__container {
        width: 540px;
    }

    .features__items {
        gap: 60px;
    }

    .features__description {
        width: 100%;
    }

    .integrate__container {
        width: 540px;
        gap: 60px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 28px;
        line-height: 30px;
    }

    .subtitle {
        font-size: 20px;
        line-height: 30px;
    }

    .header__container {
        width: 100%;
        padding: 0 15px;
    }

    .promo__container {
        width: 100%;
        padding: 0 15px;
    }

    .promo__app {
        width: 100%;
        padding: 0 15px;
    }

    .promo__app-info {
        max-width: 100%;
    }

    .promo__brands {
        grid-template: repeat(3, 35px) / repeat(2, auto);
        row-gap: 25px;
    }

    .promo__current {
        font-size: 45px;
    }

    .features__container {
        width: 100%;
        padding: 0 15px;
    }

    .integrate__container {
        width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 330px) {
    .promo__brands {
        grid-template: repeat(6, 35px) / auto;
        row-gap: 25px;
    }
}